html  {min-height: 100%;}

.right  {text-align: right;}
.left {text-align: right;}
.center {text-align: center;}
.red  {color: #f91111;}
.green  {color: #2b8200;}
.orange {color: #ff7a00;}
.bold {font-weight: bold;}


.tabulka {float: left; width: 795px; height: 21px; background: url(tabulka.png) no-repeat; padding: 5px 0px 0px 17px; color: #ffffff; font-weight: bold; font-size: 13px;}
  .tabulka a  {color: #ffffff; text-decoration: none;}
    .tabulka a:hover  {text-decoration: underline;}
  .tabulka input	{float: right;}
  .seznam {float: left; width: 812px; border: 1px solid #212121; margin-bottom: 36px;}
    .seznam th, .seznam td  {height: 26px; vertical-align: middle;}
    .seznam th {text-align: center; color: #e6e6e6; background: #212121;}
    .seznam td {color: #212121; background: #c7c7c7;}
    .seznam .sudy td {background: #d6d6d6;}
    .seznam tr:hover td  {background: #e6e6e6;}
    .seznam tr.klicova_slova_v_oboru	{display: none;}
    	.seznam tr.klicova_slova_v_oboru td	{padding: 2px 5px 15px 5px; background: #ffffff; line-height: 1.5;}
  .obsah2 {float: left; width: 802px; padding: 10px 5px 10px 5px; border-top: 1px solid #212121;}
  
  .seznam2 {float: left; width: 812px; margin-bottom: 36px;}
    .seznam2.chyba	{border: 2px solid #ff0000;}
		.seznam2 td {vertical-align: middle; padding: 3px;}
  
  
span.var  {float: left; width: 792px; padding: 10px; border: 1px dashed #212121; color: #212121; background: #d6d6d6; margin-bottom: 10px;}
span.var.info	{background: #76e7ff; border: 1px dashed #002ff7;}



body	{background: url(menu.png) repeat-y center center #e6e6e6;  color: black; font-family: Arial; font-size: 12px; margin: 0px; padding: 0px; min-height: 100%;}

a {color: black; text-decoration: underline;}
a:hover {text-decoration: none;}
a img {border: none;}

input,textarea, select {border: thin solid black;}
	input[type=text],input[type=password]	{width: 210px;}
input.skore {width: 50px; text-align: right;}

#lista  {position: fixed; background: url(bg.png); width: 100%; height: 54px; min-width: 1130px; z-index: 10;}
.lista  {position: relative; margin: auto; background: url(header.png); width: 890px; height: 40px; padding: 12px 0px 0px 240px;}
  .lista .prihlasen {float: left; width: 800px; color: #efefef;}
  .lista .ikonky  {float: left; width: 800px; margin: 5px 0px 0px 62px;}
    .lista .ikonky img  {float: left; margin-right: 1px;}
  
#stranka  {position: relative; margin: auto; width: 1130px;}  
  #obsah  {position: relative; width: 812px; margin-left: 284px;}
    #nastroje {position: fixed; width: 282px; height: 34px; padding: 2px; background: url(tools.png); margin-left: 140px; top: 52px; text-align: center; z-index: 11;}
      #nastroje img {width: 92px; height: 34px; margin: 0px 1px 0px 1px;}
  
    #obsah2 {position: relative; width: 812px; top: 144px; z-index: 1;}
  
  #menu {position: fixed; height: 100%; width: 220px; padding: 0px 2px 0px 15px; background: url(menu.png); color: #ffffff; top: 52px; z-index: 11;}
    #menu table {float: left; width: 220px;}
      #menu table td, #menu table th  {vertical-align: middle; text-align: left;}
      #menu table th  {font-weight: bold; padding: 24px 0px 7px 12px;}
          #menu table th span {margin-left: 12px;}
      #menu table td a  {float: left; color: #ffffff; text-decoration: none; width: 199px; padding-left: 21px; background: url(bod.png) no-repeat left center;}
        #menu table td a:hover  {color: #ffa94f;}
      #menu table td span.odkaz {float: left; color: #757575; text-decoration: line-through; width: 199px; padding-left: 21px; background: url(bod.png) no-repeat left center;}